html{
    height: 100%;
}


body{
    background-color: darkslategrey;
    background-image: url(images/IMG_20220202_212708.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    /* background-color: rgba(0, 0, 255, 0.308); */
    height: 80px;
    width: auto;
    text-align: center;
}
nav{
    background-color: rgb(20, 218, 79);
    height: 40px;
    width: auto;
}
main{
    /* background-color: rgb(255, 0, 0); */
    height: 400px;
    width: auto;
}
footer{
    background-color: rgb(255, 251, 0);
    height: 100px;
    width: auto;
}
h1{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    /* width: 100px;
  height: 100px; */
  /* position: relative; */
  /* background-color: red; */
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 3s;

}
@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}